<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="features" type="NFeature.Configuration.FeatureConfigurationSection`2[[NDecorate.Test.Fast.Feature, NDecorate.Test.Fast], [NFeature.Configuration.DefaultTenantEnum, NFeature.Configuration]], NFeature.Configuration" />
  </configSections>
  <features>
    <add name="NDecorate"
				 settings="{ DecoratorTypeAliases: [ { Alias: 'Cache', Type: 'NDecorate.Test.Fast.CacheDecorator, NDecorate.Test.Slow'},
																						 { Alias: 'Log', Type: 'NDecorate.Test.Fast.LogDecorator, NDecorate.Test.Slow'} ],
										 DecoratorListDelimiter:',',
										'NDecorate.Test.Fast.MyQuery1, NDecorate.Test.Fast': ['Cache', 'Log' ],
										'NDecorate.Test.Fast.MyQuery2, NDecorate.Test.Fast': ['Cache', 'Log' ] }" />
  </features>
</configuration>